<div class="container">
  <div class="row">
    <div class="col-sm">
      <ul class="nav nav-tabs ml-3 mt-5 mb-1 bottom">
        <li>
          <a routerLink="/">
            <img alt="logo-meteova" class="logo" src="assets/images/logo_medium_side.png">
            <!--            <span class="ml-10-px text-primary-dark">METE</span>-->
            <!--            <span class="cl-primary-std">OVA</span>-->
          </a>
        </li>
        <li class="ml-5 mt-4"><img class="dot" alt="dot" src="assets/images/dot.png"></li>
        <li class="nav-item mt-3 "><a class="nav-link  text-primary-dark" routerLink="/"> Mapa</a>
        </li>
        <li class="mt-4"><img class="dot" alt="dot" src="assets/images/dot.png"></li>
        <li class="nav-item mt-3"><a class="nav-link text-primary-dark" routerLink="/about">O projektu</a>
        </li>
        <li class="mt-4"><img class="dot" alt="dot" src="assets/images/dot.png"></li>
        <li class="nav-item mt-3">
            <app-device-list></app-device-list>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div>
    <app-device-info></app-device-info>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4-px footer-background">

  <!-- Footer Links -->
  <div class="container-fluid text-md-left  text-white">
    <div class="row  mb-15-px">
      <div class="col-lg-3 text-center">
        <img src="assets/images/osu.png">
      </div>
      <div class="col-lg-3">
        <h4 class="text-primary">Kontakt</h4>
        <hr>
        + 420 777 777 777 <br>
        + 420 777 777 777 <br>
        email@osu.cz
      </div>
    </div>
  </div>
</footer>
