<!--<input class="mt-4-px pd-5-px ml-10-px" placeholder="Vyhledat zařízení" type="text">-->

<select class="mt-6-px pd-7-px ml-10-px text-primary-dark-no-hv text-primary-font"
        (change)="selectDeviceHandler($event)">
  <option selected disabled hidden>-- Vyberte stanici --</option>
  <option *ngFor="let device of deviceData" value="{{device.deviceId}}">
    {{device.device_location}}
  </option>
</select>
<table>
  <tr *ngIf="selectedDevice!==undefined">
    Vybral jste:
    <td> {{selectedDevice.deviceId}}</td>
    <td> {{selectedDevice.device_location}}</td>
  </tr>
</table>

