<div class="container">
  <div class="row">
    <div class="col-sm">
      <ul class="nav nav-tabs ml-3">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/">Domu</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/weather">Počasí</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="row">
    <app-map [markers]="markers"></app-map>
  </div>
</div>
