<table class="table">
  <thead>
  <tr>
    <th></th>
    <th scope="col">Datum</th>
    <th scope="col">Teplota(c)</th>
    <th scope="col">Teplota(f)</th>
    <th scope="col">Souhrn</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let weather of weatherData">
    <th scope="row"></th>
    <td>{{weather.date | date }}</td>
    <td>{{weather.temperatureC}}</td>
    <td>{{weather.temperatureF}}</td>
    <td>{{weather.summary}}</td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-lg-8">
    <img src="assets/images/demo-graph.svg">
    <img src="assets/images/demo-graph.svg">
  </div>
  <div class="col-lg-4">
    <h1>Info o grafech</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur debitis delectus doloremque
      explicabo
      nesciunt quam quod rem velit voluptate! Amet blanditiis cumque distinctio, harum officiis sit ullam voluptates
      voluptatum.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <img src="assets/images/demo-graph.svg">
  </div>
  <div class="col-lg-4">
    <h1>Info o grafech</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur debitis delectus doloremque
      explicabo
      nesciunt quam quod rem velit voluptate! Amet blanditiis cumque distinctio, harum officiis sit ullam voluptates
      voluptatum.
    </p>
  </div>
  <div class="col-lg-4">
    <img src="assets/images/demo-graph.svg">
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h1>Info o grafech</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur debitis delectus doloremque
      explicabo
      nesciunt quam quod rem velit voluptate! Amet blanditiis cumque distinctio, harum officiis sit ullam voluptates
      voluptatum.
    </p>
  </div>
  <div class="col-lg-4">
    <img src="assets/images/demo-graph.svg">
  </div>
  <div class="col-lg-4">
    <img src="assets/images/demo-graph.svg">
  </div>
</div>
