<h1>O projektu</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet hic id incidunt libero officia perspiciatis porro possimus, quas repellat tempore. Animi cum, doloremque eveniet modi officiis quas quasi quis velit.
</p>
<h1>
  Jak to funguje?
</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur debitis doloremque eaque ipsum modi mollitia, quam repudiandae ullam vitae. Aspernatur assumenda eius expedita minus quaerat quis rem veritatis voluptas.
</p>
<h2>O meteostanicích</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci beatae dolorem esse excepturi facere molestias non numquam quidem ratione, temporibus! Aliquid culpa distinctio dolore eaque error facilis fuga hic, illo.
</p>
<h1>
  O nas
</h1>
<h2>
  Michal Janošek Product owner
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam autem dignissimos distinctio dolore earum error ipsa laborum neque, odit ratione saepe sunt tempore. Beatae dolor ex molestiae officiis quo.
</p>
<h2>
  Patrik Kolenovský Full stack developer
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam autem dignissimos distinctio dolore earum error ipsa laborum neque, odit ratione saepe sunt tempore. Beatae dolor ex molestiae officiis quo.
</p>
<h2>
  Lukáš Lazar Full stack developer
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam autem dignissimos distinctio dolore earum error ipsa laborum neque, odit ratione saepe sunt tempore. Beatae dolor ex molestiae officiis quo.
</p>
<h2>
  David Švrčina Databázový specialista
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam autem dignissimos distinctio dolore earum error ipsa laborum neque, odit ratione saepe sunt tempore. Beatae dolor ex molestiae officiis quo.
</p>
<h2>
  Vojtěch Václavík IoT Programátor
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam autem dignissimos distinctio dolore earum error ipsa laborum neque, odit ratione saepe sunt tempore. Beatae dolor ex molestiae officiis quo.
</p>
